*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.orders-container {
    background-color: #75e6db2d;
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 7rem;
    padding: 10rem;
  }
  .order-card {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    display: flex;
    padding:  1rem 7rem 1rem ;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
.order{
    display: flex;
    gap: 4rem;
}
  .order-image {
 
    border-radius: 10%;
  }
  
  .order-title {
    text-align: center;
    padding: 10px;
    font-weight: 500;
    font-size: 2rem;
  }
  .card-body p span{
    font-size: 1.5rem;
    font-weight: 600;
  }
  .card-body p {
    font-size: 1.2rem;
    font-weight: 400;
  }
  

  
  .card-footer {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
  }
  
  .card-footer p {
    margin: 0;
  }

  